@import "../../assets/colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;

  font-size: 1rem;
}

.select {
  width: 250px;
  color: $white;
  background-color: $mediumGrey;
  border: 0.1rem solid $white;
  border-radius: 0.25rem;
  padding: 0.25rem;
  outline: none;

  font-size: 1rem;

  &:hover {
    background-color: $lightGrey;
  }

  &:focus {
    background-color: $mediumGrey;
    border: 0.1rem solid $blue;
  }
}
