@import "../../assets/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0.5rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.prepTimeDiffDiv {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.prepTimeInput {
  max-width: 100px;
}

.difficultyInput {
  max-width: 200px;
}

.servingsInput {
  max-width: 100px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  padding-top: 0.5rem;
}

.tagItem {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin: 0.25rem 0.5rem;
}

.ingredientInputsDiv {
  display: flex;
}

.ingredients {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.igredientItem {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin: 0.25rem 0;
}

.methodsInput {
  display: flex;
}

.methods {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.methodItem {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin: 0.25rem 0;
}

/*.ingredientDescInput {
  
}*/

.ingredientQtyInput {
  max-width: 70px;
}
.ingredientUnitInput {
  max-width: 70px;
}

.buttonDiv {
  display: flex;
  justify-content: end;
}

@media (max-width: 450px) {
  .container {
    max-width: 90%;
    margin: 0.5rem auto;
  }
}
